<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudMart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>☁️ CloudMart</h1>
    <p>Secure shopping powered by DevSecOps</p>
</header>

<section class="products">

{% for product in products %}

<div class="card">
    <h2>{{ product.name }}</h2>
    <p>RM {{ product.price }}</p>
    <button>Add to Cart</button>
</div>

{% endfor %}

</section>

<footer>

Protected by

GitHub Actions

+

Pytest

+

Gitleaks

+

CodeQL

+

Trivy

</footer>

</body>
</html>